sudo: false
language: python
python:
  - "3.6"

install:
  - pip install pipenv
  - pipenv install --dev

# command to run tests
script:
  - cd tests
  - pipenv run python3 -m pytest

git:
  depth: false